<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.Name }} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.Email }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="deleteUser(element)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<div class="formDiv">
  <form class="userform">
    <mat-form-field class="userformwidth">
      <input matInput placeholder="Name" [(ngModel)]="name" name="name" />
    </mat-form-field>
    {{ name }}
    <mat-form-field class="userformwidth">
      <input matInput placeholder="email" [(ngModel)]="email" name="email" />
    </mat-form-field>
    <mat-form-field class="userformwidth">
      <input matInput placeholder="id" [(ngModel)]="id" name="id" />
    </mat-form-field>
    <button mat-raised-button (click)="addUser()">Save Me!!</button>
  </form>
</div>
